.container {
    margin-top: 20px;
    .pre {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        transition: all 0.5s;
    }
    .unPre {
        opacity: 0;
        transform: translateY(30px) scale(1);
        transition: all 0.5s;
    }
    .mubiao {
        // background: linear-gradient(-217.13deg, rgb(249, 76, 134) 0%, rgb(210, 69, 186) 100%);
        background: red;
        margin-top: 5px;
        padding: 10px;
        width: 200px;
        cursor: nw-resize;
    }
}